{% extends 'todo/base.html' %}

{% block title %}
    <title>Delete Task</title>
{% endblock %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Delete Task
                </div>
                <div class="card-body">
                    <h5 class="card-title">Are you sure you want to delete <span class="taskName">{{ task }}</span>?</h5>
                    
                    <form action="{% url 'delete'%}?id={{ taskId }}" method="post">
                        {% csrf_token %}
                        
                        <input type="hidden" name="id" value="{{ taskId }}">
                        <a href="{% url 'index' %}" class="btn btn-info" role="button">No, go back</a>
                        <button class="btn btn-danger" type="submit">Yes, delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}