{% extends 'todo/base.html' %}

{% block title %}
    <title>Index</title>
{% endblock %}

{% block body %}
    <!-- Main elements of page-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 align-center">
                <h1>TO-DO LIST</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                Add Task Textbox
            </div>
        </div>


        {% for task in tasks %}
            <div class="row justify-content-center">
                <div class="col-8">
                    <div>{{ task }}</div>
                    <div>Created at: Date, Time</div>
                </div>
                <div class="col-4">
                    Completed <a href="{% url 'update' %}?id={{ task.id }}">Update </a> <a href="{% url 'delete' %}?id={{ task.id }}">Delete</a>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}