{% extends 'todo/base.html' %}

{% block title %}
    <title>Index</title>
{% endblock %}

{% block body %}
    <!-- Main elements of page-->
    <div class="container mt-5">
        <div class="row justify-content-md-center">
            <div class="col-lg-4 align-center">
                <h1 class="display-4">TO-DO LIST</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8 align-center">
                <form action="{% url 'add' %}" method="post">
                {% csrf_token %}
                <div class="input-group-append">
                    <input type="text" class="form-control" placeholder="Add tasks" name="task">
                    <button class="btn btn-primary" type="submit">ADD</button>
                </div>
                </form>
            </div>
        </div>

        {% for task in tasks %}
            <div class="row justify-content-center task border">

                <div class="col-8">
                    <div class="font-weight-bold">{{ task }}</div>
                    <div class="datetime">Created at: Date, Time</div>
                </div>
                <div class="col-4">
                    <button class="btn btn-success" type="submit">Completed</button>
                    <a href="{% url 'update' %}"><button class="btn btn-primary" type="submit">Update</button></a>
                    <a href="{% url 'delete' %}"><button class="btn btn-danger" type="submit">Delete</button></a>
                </div>

            </div>
        {% endfor %}

    </div>
{% endblock %}