{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Update</title>
{% endblock %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Update Task
                </div>
                <div class="card-body">
                    <form action="{% url 'update'%}?id={{ taskId }}" method="post">
                        <div class="row">
                            <div class="col-lg">
                                {% csrf_token %}
                                {{ form.task.label }}
                                <br>
                                {{ form.task }}
                            </div>
                            <div class="col-sm">
                                <div class="row justify-content-center">
                                    {{ form.completed.label }}
                                </div>
                                <div class="row justify-content-center">
                                    <i class="fas fa-check-square fa-3x"> {{ form.completed }} </i>
                                    <input type="hidden" name="id" value="{{ taskId }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'index' %}?id={{ task.id }}" class="btn btn-info"><i class="fas fa-arrow-left"></i> Go back</a>
                                <button class="btn btn-danger" type="submit">Update</button>
                                <!-- <input type="submit" value="Send"> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}